[Unit]
Description=Synchronize calendars and contacts
Documentation=https://vdirsyncer.pimutils.org/
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
RuntimeMaxSec=300
