[Unit]
Description=Speak D‑Bus notifications for screen‑reader users
After=graphical-session.target

[Service]
ExecStart=/home/nk/.local/bin/dbus-speak-notify
Restart=always
Environment=DISPLAY=%i
Environment=PULSE_SINK=alsa_output.usb-ASUSTek_ROG_PELTA__2.4GHz__A50125270199-00.analog-stereo
StandardOutput=append:%h/.cache/dbus-notify-speak.log
StandardError=inherit

[Install]
WantedBy=default.target
